<h1>Roommates</h1>

<table>
  <div class = 'btn btn-group'>
  <td><%= link_to 'Add Roommate', new_roommate_path(scheduleid: params[:scheduleid]), :class => "btn btn-default"%></td>
  <td><%= link_to 'Next', tasks_path(scheduleid: params[:scheduleid]), :class => "btn btn-default"%></td>
</div>

  <tbody>
    <% @roommates.each do |roommate| %>
      <tr>
        <td><%= roommate.name %></td>
        <div class='btn btn-group'>
        <td><%= link_to 'Delete', roommate, method: :delete, :class => "btn btn-default"%></td>
      </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>