<h1>Roommates</h1>

<table>
  <thead>
    <tr>
      <th>Action</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @roommates.each do |roommate| %>
      <tr>
        <td><%= roommate.name %></td>
<!--        <td><%= link_to 'Edit', edit_roommate_path(task) %></td>
        <td><%= link_to 'Delete', task, method: :delete %></td>
      </tr> !-->
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
