<h1>Roommates</h1>

<table>
  <td><%= link_to 'Add Roommate', new_roommate_path %></td>

  <tbody>
    <% @roommates.each do |roommate| %>
      <tr>
        <td><%= roommate.name %></td>
        <td><%= link_to 'Edit', edit_roommate_path(roommate) %></td>
        <td><%= link_to 'Delete', roommate, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
