<h1>Calendar</h1>

<link rel='stylesheet' type='text/css' href='fullcalendar.css' />
<script type='text/javascript' src='jquery.js'></script>
<script type='text/javascript' src='fullcalendar.js'></script>

<div id='calendar'> 
	<% @events do |event| %>
	<%= link_to event.name, event %> 
	<% end %>
</div>