
<script>

	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: true,
			events: [
			<% if !@events.nil? %>
				<% @events.each do |event| %>
					{
						title: '<%= event.title %>',
						start: '<%= event.start %>',
						end: '<%= event.end %>'
					},
				<% end %>
			<%end %>
			]
		});
		
	});

</script>

<div id='calendar'></div>

